<h1>Welcome to the Music Concert Network</h1>

<h4>Artist</h4>
	<%= @concert.artist %>

<h4>Venue</h4>
	<%= @concert.venue %>

<h4>City</h4>
	<%= @concert.city %>

<h4>Ticket Price</h4>
	<%= @concert.price %>

<h4>Description</h4>
	<%= @concert.description %>

<% @comments.each do |comment_concert| %>
	<%= comment_concert.comment %>
<% end %>
