<!DOCTYPE html>
<html>
<head>
  <title>Ironbnb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Navigation Bar -->

<div class="container-fluid">
	<div class="row header">
  		<div class="col-sm-1"><center>
			<%= link_to " add logo ", '/' %>
		</center></div>

		<div class="col-sm-1">
			<%= link_to "Become a Host", become_a_host_path %>
		</center></div>

		<div class="col-sm-1">
			<%= link_to "Wish Lists", wish_lists_path %>	
		</center></div>

		<div class="col-sm-1">
				<%= link_to "Help", help_path %>
		</center></div>

		<div class="col-sm-1">
				<%= link_to "Sign Up",sign_up_path %>
		</center></div>

		<div class="col-sm-1">
				<%= link_to "Log in", log_in_path %>
		</center></div>
	</div>
</div>

<%= yield %>

</body>
</html>