<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
	<title>wearable</title>

	<header class="header">
		<div class="container">
<!-- 			<div class="logo"><img src="/Wearable/assets/wearable_logo.png" height="25" width="81" alt="Wearable"></div>
 -->		</div>
	</header>

	<%= csrf_meta_tags %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<%= render 'shared/navbar' %>
		<%= yield %>

		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
	</body>
</html>
