<% provide(:title, "Log in") %>

<div class="container text-center">
    <div class="row">
    <h1>
    Login
    </h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <br>
    
    <%= f.email_field :email, class: 'form-control', placeholder: "Email address" %>
    <br>
    <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
    <br>

    <%= f.submit "Login", class: "actions" %>
    <% end %>
    <br>

    <button class="btn-grey">
      <%= link_to "Register now!", new_user_registration_path %>
    </button>

  </div>
</div>

<%= render "devise/shared/links" %>
