<% provide(:title, "Log in") %>
<h1>Login</h1>

<div class="row">
<div class="container text-center">
<!--   <div class="col-md-6 col-md-offset-3"> -->
	<%= form_for(:session, url: login_path) do |f| %>
	<br>
	<%= f.email_field :email, class: 'form-control', placeholder: "Email" %>
	<br>
	<%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
	<br>
	<%= f.submit "Login", class: "btn btn-outline-info" %>
	<% end %>
	<br>

	<p>New user?
	<br>
	<%= link_to "Sign up now!", signup_path %></p>
	</div>
</div>
