<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<h1><%= @project.name %></h1>
<ol>
	<% @time_entries.each do |time_entry| %>
		<li>
			Hours:
			<%= time_entry.hours %> h
			Minutes: 
			<%= time_entry.minutes %> m -
			<%= time_entry.date %>
			<%= link_to "Edit", edit_project_time_entry_path(@project, time_entry) %>
			<%= link_to("Delete", project_time_entry_path(@project, time_entry), method: :delete, data: {confirm: 'Are you sure?'}) %>
		</li>
	<% end %>
</ol>

<h1><%= @project.name %></h1>

<%= link_to('Projects', projects_path) %>
<%= link_to('Add Time Entry', new_project_time_entry_path) %>

<!-- quotation marks in erb are text displayed in web browser -->
<!-- "path" links to the page -->
