<div class="row">
  <div class="container text-center">
    <h1>
        Register below
    </h1>
    <br>

    <%= form_for :user, url: '/users' do |f| %>
      <%= f.text_field :username, placeholder: "Username" %>
      <br>
      <br>

      <%= f.text_field :email, placeholder: "Email address"%>
      <br>
      <br>

      <%= f.password_field :password, placeholder: "Password" %>
      <br>
      <br>

      <%= f.password_field :password_confirmation, placeholder: "Confirm password" %>
      <br>
      <br>
    <%= f.submit "Sign up", class: "btn btn-outline-info" %>
    <% end %>
  </div>
</div>
