<h1>Add A New Post!</h1>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :gif_url %>
  <%= f.text_field :gif_url %>

  <%= f.submit'Add New Post!' %>

<% end %>
