<h1>Add New Post!</h1>

<!-- Resource that will be created -->
<!-- Form_for generates authenticity token -->
<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :gif_url %>
  <%= f.text_field :gif_url %>

  <%= f.submit'Create Post' %>
<% end %>
